<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
    <jmxConfigurator/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{32}.%M:%L %msg%n%xException%n"/>
    <property name="log.dir" value="opt/logs/weixin-meal-test"/>

    <!-- 控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

	<!-- 模块日志 -->
    <appender name="LOGFILE" class="com.twodfire.log.appender.AsyncRollingFileAppender">
        <file>${log.dir}/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/bak/logFile.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>	
    
    
    <!-- 整体流程日志 -->
     <appender name="INTEGRATION" class="com.twodfire.log.appender.AsyncRollingFileAppender">
        <file>${log.dir}/integration.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/bak/integration.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 5 days worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    
    
    <!-- 模块日志 -->
    <appender name="CASHDESK" class="com.twodfire.log.appender.AsyncRollingFileAppender">
        <file>${log.dir}/cashDesk.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/bak/logFile.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>	
    
    <logger name="LOGFILE" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="LOGFILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
     <logger name="INTEGRATION" additivity="false">
       <level value="INFO"/>
       <appender-ref ref="INTEGRATION"/>
       <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="CASHDESK" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CASHDESK"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
       
    </root>

</configuration>